<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <script src="../jquery-3.5.0.min.js"></script>
        <script src="../popup.js"></script>

    </head>
    <body>
        <div> Hello World!</div>
        <buttom id ="pomodoro">
            <a href ="pomodoro.html">Pomorodo</a>
        </buttom>
        <buttom id = "ultradian">
            <a href ="ultradian.html">Ultradian</a>
        </buttom>
        <buttom id = "atlantic">
            <a href ="atlantic.html">Atlandic</a>
        </buttom>
    </body>
</html>