<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src="../jquery-3.5.0.min.js"></script>
        <script src="../popup.js"></script>
    </head>
    <body>
        <form id = "timer">
            <div> After how many minutes do you want to take a break? </div>
            <input type="text" class = "form-time" id = "work-time" placeholder = "Type minutes..."></input>
            <button type="submit" class = "form-button">Set Timer</button>
            <div class = "count"></div>
        </form>

    </body>
</html>