<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <script src="../jquery-3.5.0.min.js"></script>
        <script src="../popup.js"></script>

    </head>
    <body>
        <button id = "test"> click me! </button>
        <div class = "intro">
            Break Reminder
        </div>
        <div>
            <div id = "custom"> <a href ="custom.html">Custom Interval</a> </div>
            <button id = "automatic">
                <a href ="automatic.html">Automatic Interval</a>
            </button>
        </div>
    </body>
</html>
